.body {
  background-color: gainsboro;
  .card-img {
    margin: 15px 0px;
  }
  .show-opened-page {
    padding: 20px 0px 0px 0px;
    span {
      display: inline-block;
      padding: 0px 5px;
    }
  }

  .brand-box {
    width: 20%;
    border: solid 2px gainsboro;
    background-color: white;
    box-sizing: border-box;

    .item {
      width: 150px;
      padding: 10px;
      margin: 10px auto;
      display: block;
    }
    //.item:hover {
      //   width: 152px;
      //   padding: 10px;
    //}
    .item-container {
      padding: 25px 0px;
      position: relative;
    }
    .item-detail {
      text-align: left;
      margin: 0px;
      font-size: 13px;
      letter-spacing: 1px;
      padding: 0px 15px;
      text-transform: capitalize;
      &.name {
        font-size: 15px;
        text-transform: capitalize;
        color: #dd3b2d;
        font-weight: 600;
        margin-bottom: 5px;
      }
      &.brand {
        font-size: 10px;
        font-weight: 600;
        letter-spacing: 2px;
        background: #dd3b2d;
        color: white;
        display: inline-block;
        padding: 5px 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        top: -11px;
      }
      &:focus {
        outline: none;
      }
    }
    .discount {
      padding: 3px;
      background-color: greenyellow;
      text-align: center;
    }
    .show-opened-page {
      padding: 0px;
      margin: 0px;
    }
  }
  .pagination{
  width: 50px;
  
  }
  
}
