<div class="body container-fluid">
    <div class="row">
        <div class="filter-box right-box col-sm-2">
            <div>
                CATEGORY
            </div>
            <!-- <div class="filters-price">
                <h5>Brand</h5>
                <div *ngFor="let brand of brands"> -->
            <!-- <input type="radio" name="filter" [attr.id]="brand" [value]="brand" [(ngModel)]="selectedBrand"
                        (change)="updateProductList()" /> -->
            <!-- <input type="radio" name="filter" [attr.id]="brand" [value]="brand" [(ngModel)]="selectedBrand" />
                    <label [attr.for]="brand">{{brand}}</label>
                </div>

            </div> -->
            <div class="filters-price">
                <div *ngFor="let brand of brands">
                    <input type="checkbox" [attr.name]="brand" [attr.id]="brand" [value]="brand"
                        (change)="updateProductList($event,input?.value)" #input>
                    <label [attr.for]="brand">{{brand}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-10">

            <div class="show-opened-page  ">
                <span>home</span>
                <span> > diagnosis equipment</span>
                <span> > gluco meter</span>
            </div>
            <div class="left-box card-img row ">

                <div class="brand-box" *ngFor="let item of productList | commonpipe : selectedBrands;"
                    [routerLink]="['/product/'+'/id/'+ item._id]" routerLinkActive="router-link-active">
                    <img class="item" src="{{item.image_url}}" alt="">
                    <div class="item-container">
                        <p class="item-detail brand"> {{item.brand}}</p>
                        <p class="item-detail name">{{item.name}}</p>
                        <p class="item-detail subcategory">{{item.quantity}} items </p>
                        <p class="item-detail subcategory">Rs: {{item.price}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" >
      More Items :
      <div *ngFor="let item of pageArray; let i = index;" >
      <ng-container class="pagination">
      <button *ngIf="i < currentPage +1 && i > currentPage -3" 
        (click)="showClickedPageNo(i)" [disabled]="pageArray[i]" >
      <ng-container  >
        {{i+1}}
      </ng-container>
      </button>
  
      </ng-container>
  
      </div>
    </div>

<!-- i < current+2 && i < current +2 -->
</div>