<div class="container-fluid">
    <link 
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
    crossorigin="anonymous">
    
    <div class="row">

        <div class="col-sm-8 topBar"></div>
        <div class="col-sm-4 topBar">
            
            <span class="topBar-Options">care@moglix.com</span>
            <span class="topBar-Options">Track Order</span>
            <span class="topBar-Options">Bulk Order Query</span>
        
        </div>
    </div>


    <div class="row searchBar">
        
        <div class="col-sm-3"><img class="moglixLogo" src="https://cdn.moglix.com/assets/img/moglix-logo.jpg" alt=""></div>
        
        <div class="col-sm-5"><input placeholder="I am Looking for...." class="search-input" type="text"><button class="search-btn" ><i class="fa fa-search" aria-hidden="true"></i></button></div>
        
        <div class="col-sm-4">
            <span class="search-bar-icons"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Cart</span>
            <span class="search-bar-icons"><i class="fa fa-delicious" aria-hidden="true"></i>Deals</span>
            <span class="search-bar-icons"><i class="fa fa-user-plus" aria-hidden="true"></i>Sing In</span>
        </div>
    
    </div>
</div>

