
<div class="body">
    <div class="container-fluid row">
        <div class="categories">Medical Utilities And <br> Hospital Supply</div>
        <div class="categories">Sefty and <br>PPE Supply</div>
        <div class="categories">Instrumental tools <br>And Equipment</div>
        <div class="categories">Office Stationary <br>And Supply</div>
        <div class="categories">electrical tools <br> and Equipment </div>
    </div>


    <div class="content-body">

        <div class="advertising-Image">
            <img src="https://cdn.moglix.com/cms/flyout/Images_2020-07-23_17-47-15_diagnostic-instrument-L0-main-banner.jpg" alt="">
        </div>


        <div class="all-categories row">
            <div class="items">
                <img class="item-img" src="https://cdn.moglix.com/cms/element/Images_2020-04-30_09-47-56_medical_devices@2x.png" alt="">
                <p>Diagnostic Equipment</p>
            </div>

            <div class="items">
                <img class="item-img" src="https://cdn.moglix.com/cms/element/Images_2020-04-30_09-47-56_MINI1G95IBFYW-medium@2x.png" alt="">
                <p>Diagnostic Equipment</p>
            </div>
            <div class="items">
                <img class="item-img" src="https://cdn.moglix.com/cms/element/Images_2020-05-09_09-49-40_Toilet-Sanitizer-660@2x.png" alt="">
                <p>Diagnostic Equipment</p>
            </div>
            <div class="items">
                <img class="item-img" src="https://cdn.moglix.com/cms/element/Images_2020-05-09_09-49-40_a8faa105ff2b9f65e3e1756de554c0ed@2x.png" alt="">
                <p>Diagnostic Equipment</p>
            </div>
            <div class="items">
                <img class="item-img" src="https://cdn.moglix.com/cms/element/Images_2020-05-09_09-49-40_rasoY600z1MxX-medium@2x.png" alt="">
                <p>Diagnostic Equipment</p>
            </div>
        </div>

    </div>



</div>
