.singinPage{
position: fixed;
background-color: rgb(0 0 0 / 69%);
opacity: 0;
height: 100%;
z-index: 99;
width: 100%;
top: 0px;
left: 0px;
animation: all 5s ease-in-out;
&.show{
  opacity: 1;
}
}
.singIn{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 350px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 2px 2px 4px black;

  .singUpBox{
  display: none;
  &.showForm{
  display: block;
  }
  }
  .loginForm{
  display: block;
  &.hideForm{
  display: none;
  }
  }
  .form-group{
    background-color: rgb(134, 133, 133);
    color: white;
    font-weight: 600;
    width: 300px;
  }
  label{
    color: blue($color: #020124);
    font-weight: 600;
  }
  h6,.changeForm{
    color: rgb(77, 1, 1);
    font-weight: 600;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
  }
  .changeForm:hover{
    cursor: pointer;
    color: rgb(6, 6, 216);
  }
}