<div class="footer-container">
    <div class="container-fluid">
        <div class="row">
            <div class="site-Details-left-box col-sm-6">
                <h6>
                    Moglix – Leading B2B e-Commerce for Industrial Products
                </h6>
                <p>
                    To combat the negative impact of delays in sourcing to the production process, Moglix assists you in a hassle-free online buying process and create an easy way to handle the industrial product procurement process. Our aim is to help you make substantial savings in supplies, raise the efficiency level of your inventory management and help you to sustain your growth. We want to make online business to business and business to consumer procurement a time saving and smooth process.
                </p>
                <p>
                    The procurement of industrial products and business supplies by tradition means it is often a time consuming task. To simplify this process, Moglix has emerged as the perfect platform through which companies, as well as suppliers, can procure industrial tools and equipment in a time-bound manner.
                </p>
                <br>
                <h6>
                    Shop from the Wide Range of B2B Products
                </h6>
                <p>
                    As a leading industrial equipment supplier, at present, Moglix has 3 lac SKUs, 250K+ SME clients, 5000+ suppliers and 35+ categories. We have a plethora of industrial and business supplies including
                </p>
                <p>
                    Safety: Catering to every industry safety needs, we offer safety gear like safety shoes, signages, safety helmets, etc. Since Personal Protective Equipment (PPE) are mandatory for employees to wear at work, shop the best safety equipment from Moglix.
                </p>
                <p>
                    Power Tools: These effective and efficient tools help finish a task in-time. There are fixed and portable in nature. Moglix has both commercial and industrial power tools for DIYers, shop owners or industrial workers.
                </p>
                <p>
                    Appliances: Moglix offers a range of quality appliances and utilities for your business needs. Make your organization a ‘home away from home’ for your employees and increase work efficiency.
                </p>
                <p>
                    Office Supplies: For maximum productivity at workplace, Moglix offers a range of office stationery and supplies at a reasonable price. These ease life of employees and employers by increasing efficiency and safety at an organization.

Other MRO supplies include Pumps & Motors, Laboratory Supplies, Electricals, Lubricants, Hand Tools, Hydraulics & Pneumatics and so on.
                </p>


            </div>





            <div class="site-Details-right-box col-sm-6">
                
                <h6>
                    Exceptional Buying Experience with Moglix
                </h6>
                
                <p>
                    For a memorable buying experience, we come up with attractive discounts on different products on a periodic basis and GST invoicing that removes tax cascading with easy tax filing. Our Moglix Credit Line allows customer to buy product on credit. Other payment modes include COD, Debit and Credit Card Payment, Net Banking, Mobile Wallets, etc. Also, we have Request for Quotes (RFQ) feature that allows buyers to purchase in bulk without making them feel a pinch in their pockets while buying industrial goods. We have an efficient and quick customer support team that resolves all queries and grievances of customers.
                </p>
                
                <br><br><br>
                
                <h6>
                    Purchase Industrial Equipment Online from Moglix Website
                </h6>
                
                <p>
                    Users can navigate seamlessly through our site and acquire information about any industrial product they are looking for. We have entered into tie-ups with leading logistics companies to ensure timely delivery of industrial suppliers to the doorstep of our customers, covering over 25,000 pin codes across India. All the products sourced by us undergo a number of quality tests before being dispatched for delivery. These industrial tools are compliant with all existing quality benchmarks laid down by ISI. Therefore, they can be used over a long span of time by users in workshop-based as well as industrial applications. Therefore, to have a unique experience of buying industrial tools and products online, select from our assorted range of products.
                </p>
                
                <p>
                    To match up with the changing expectations of buyers, we have tied up with suppliers based both in India and abroad. To make the selection process hassle free for our buyers, we update all our categories with new products along with their specifications on a regular basis. This makes it easy for buyers to compare the different industrial products offered by different brands and opt for the one which serves their needs perfectly.
                </p>
                
            </div>
        </div>
    </div>
</div>
