  .owl-prev, .owl-next{
  z-index:9;
  position: absolute;
  top: 150px;
  height: 30px;
  width:50px;
  display: inline-block;
  }
  .owl-prev{
  left: -34px;
  }
  .owl-next{
  right: -34px;
  }




